# Build and Release Folders
bin-debug/*.*
build/*.*
docs/*.*
release/*.*
release
doxyfile
docs
build

# Object files
*.o
*.d

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.dol
*.pbp